{% extends 'admin/base_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Avatar</th>
                <th>IsActive</th>
                <th>LastLogin</th>
                <th>AccountValidationToken</th>
                <th>ValidationTokenCreatedAt</th>
                <th>ResetPasswordToken</th>
                <th>PasswordTokenCreatedAt</th>
                <th>AgreedTermsAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.avatar }}</td>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.accountValidationToken }}</td>
                <td>{{ user.validationTokenCreatedAt ? user.validationTokenCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.resetPasswordToken }}</td>
                <td>{{ user.passwordTokenCreatedAt ? user.passwordTokenCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.agreedTermsAt ? user.agreedTermsAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('admin_users_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('web_articles_index', {'_switch_user':user.email}) }}">Impersonate this user</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_users_new') }}">Create new</a>
{% endblock %}
