{% extends 'account/account-base.html.twig' %}

{% block title %}
    Your profile!
    {{ parent() }}
{% endblock %}

{% block account_title %}
    Your profile
{% endblock %}

{% block account_content %}
    <p>Username : <span>{{ user.username }}</span></p>
    <p>Email : <span>{{ user.email }}</span></p>
    <p>Firstname : <span>{{ user.firstname }}</span></p>
    <p>Lastname : <span>{{ user.lastname }}</span></p>
{% endblock %}