{% extends 'web/account/account-base.html.twig' %}

{% block title %}
    {% if user.fullName is not null %}
       {{ user.fullName }}
    {% else %}
        {{ user.email }}
    {% endif %}
    profile's !
    {{ parent() }}
{% endblock %}

{% block account_title %}
    {% if user.firstname is null and user.lastname is null %}
        {{ user.email }}
    {% else %}
        {{ user.fullName }}
    {% endif %}
    profile's
{% endblock %}

{% block account_content %}
    <div>
        <h2>General</h2>
        <div class="row mx-auto">
            <div class="image-container">
                <img class="account-image" src="{{ user.avatar }}">
            </div>
        </div>
        <p>Username : <span>{{ user.username }}</span></p>
        <p>Email : <span>{{ user.email }}</span></p>
        <p>Firstname : <span>{{ user.firstname }}</span></p>
        <p>Lastname : <span>{{ user.lastname }}</span></p>
        <p>Website : <span>{{ user.website }}</span></p>
        <p>Linkedin : <span>{{ user.linkedin }}</span></p>
        <p>Twitter : <span>{{ user.twitter }}</span></p>
        <p>Github : <span>{{ user.github }}</span></p>
        <p>StackOverflow : <span>{{ user.stackOverflow }}</span></p>
    </div>
    <div>
        <h2>Content management</h2>
        <h4>Articles</h4>
        <ul>
        {% for article in user.articles %}
           <li><a href="{{ path('web_articles_show', {'slug':article.slug}) }}">{{ article.title }}</a></li>
        {% else %}
            <p>No content</p>
        {% endfor %}
        </ul>
    </div>
    <div>
        <h2></h2>
        <h4>Likes</h4>
        <ul>
            {% for like in user.likes %}
                <li><a href="{{ path('web_articles_show', {'slug':like.article.slug}) }}">{{ like.article.title }}</a></li>
            {% else %}
                <p>No content</p>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h4>Views</h4>
        <ul>
            {% for view in user.views %}
                <li><a href="{{ path('web_articles_show', {'slug':view.article.slug}) }}">{{ view.article.title }}</a></li>
            {% else %}
                <p>No content</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}