<article class="post">
    {% if app.request.get('_route') == 'web_articles_show' %}
        {% include 'web/article/_breadcrumb.html.twig' %}
    {% endif %}
    <header class="mb-2">
        <div class="tags">
            {% for tag in article.tags %}
                <span class="mb-2 mb-md-0 badge badge-secondary"><a class="text-white" href="{{ path('web_tags_show', {'slug':tag.slug}) }}">{{ tag.title }}</a></span>
            {% endfor %}
        </div>
        <div class="title d-flex justify-content-between">
            {% if app.request.get('_route') == 'web_articles_show' %}
                <div class="row mx-0">
                    <h1>{{ article.title }}</h1>
                    {% if is_granted('IS_AUTHENTICATED_FULLY')  and app.user is same as (article.author) %}
                        <div class="actions mb-2 ml-md-2">
                            <a class="btn btn-info" href="{{ path('web_articles_edit', {'slug':article.slug}) }}">Edit</a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
            <h2><a href="{{ path('web_articles_show', {'slug':article.slug}) }}">{{ article.title }}</a></h2>
            {% endif %}
        </div>
        <div class="meta">
            <div class="published-at">
                <span class="sr-only">Published on</span>
                <time datetime="{{ article.createdAt|date }}">{{ article.createdAt|date("F d, Y", "Europe/Paris") }}</time>
            </div>
            {#
            <!-- with blog as medium with many author it's useful but with single author it's not usefull -->
            <div class="author">
                <a class="author" href="#"><span class="name">{{ article.author.firstname }}</span>
                    <img src="#" alt="avatar de {{ article.author.firstname }}">
                </a>
            </div>
            #}
        </div>
        <div id="top"></div>
    </header>
    <div class="article-main mt-4 mb-2">
        {% if article.coverImage is defined and article.coverImage is not null %}
        <div class="d-none d-md-block mb-4">
            {% if app.request.get('_route') == 'web_articles_show' %}
            <span class="image featured">
                <img src="{{ app.request.getUriForPath(vich_uploader_asset(article, 'imageFile')) }}" alt="Illustration de l'article {{ article.title }}">
            </span>
            {% else %}
            <a class="image featured" href="{{ path('web_articles_show', {'slug': article.slug}) }}">
                <img src="{{ app.request.getUriForPath(vich_uploader_asset(article, 'imageFile')) }}" alt="Illustration de l'article {{ article.title }}">
            </a>
            {% endif %}
        </div>
        {% endif %}
        {#
        {% if article.updatedAt is not null %}
        <div class="last-update mb-4">
            <span>
                Last update on
                <time datetime="{{ article.updatedAt|date }}">{{ article.updatedAt|date("F d, Y", "Europe/Paris") }}</time>
            </span>
        </div>
        {% endif %}
        #}
        {% if app.request.get('_route') == 'web_articles_index' or app.request.get('_route') == 'web_tags_show' %}
            <p>{{ article.excerpt }}</p>
        {% elseif app.request.get('_route') == 'web_articles_show' %}
            <p>{{ article.content|raw }}</p>
            <div class="post-back-top d-flex justify-content-center">
                <a href="#top"><i class="pr-2 fas fa-angle-double-up"></i>Début de l'article</a>
            </div>
        {% endif %}
    </div>
    <footer>
        <ul class="actions">
            {% if app.request.get('_route') == 'web_articles_index' or app.request.get('_route') == 'web_tags_show' %}
            <li>
                <a href="{{ path('web_articles_show', {'slug': article.slug}) }}" class="button"><i class="pr-1 fas fa-angle-right"></i>Continue Reading</a>
            </li>
            {% elseif app.request.get('_route') == 'web_articles_show' %}
            <li class="comments">
                <a href="{{ path('web_articles_comments', {'slug': article.slug}) }}" class="button"><i class="pr-2 fa fa-comment"></i>{{ article.comments|length }} comments</a>
            </li>
            {% endif %}
        </ul>
    </footer>
</article>
