<div class="comment row px-4 mb-3" id="comment-{{ comment.id }}">
    <div class="comment-content-container col-sm-12">
        <img class="comment-img rounded-circle" src="{{ gravatar.getGravatar(comment.authorEmail) }}" style="max-width: 30px">
        <div class="d-inline-block pl-3 align-top">
            <p class="comment-author mb-1">
                {% if comment.authorWebsite is not null %}
                <a href="{{ comment.authorWebsite }}">{{ comment.authorName }}</a>
                {% else %}
                    {{ comment.authorName }}
                {% endif %}
            </p>
            <p class="comment-date mb-2">
                <small>
                    <a href="#comment-{{ comment.id }}">
                        <time datetime="{{ comment.createdAt|date("d/m/Y H:i:s") }}">{{ comment.createdAt|date("d/m/Y H:i:s") }}</time>
                    </a>
                </small>
            </p>
            {#
            {% if comment.isDeleted %}
                <span class="fa fa-close"></span> deleted
            {% endif %}
            #}
            <br>
            <p class="comment-content">
                {{ comment.content }}
            </p>
            <p class="comment-reply">
                <a class="btn btn-sm btn-outline-secondary" data-commentid="{{ comment.id }}" data-postid="{{ article.id }}" href="#comment-{{ comment.id }}">Reply</a>
            </p>
        </div>
    </div>
</div>