<article>
    <div class="tags">
        {% for tag in article.tags %}
            <small>
                <span class="badge badge-light">{{ tag.title }}</span>
            </small>
        {% endfor %}
    </div>
    {% if article.coverImage is defined and article.coverImage is not null %}
        <img src="{{ article.coverImage }}" alt="Image de l'article">
    {% endif %}
    <h2>{{ article.title }}</h2>
    <span>
        By {{ article.author.firstname ~ ' ' ~ article.author.lastname }} le {{ article.createdAt|date("d/m/Y") }} {# à {{ article.createdAt|date("H:i:s") }}#}
    </span>
    {# determine current route for adapting content #}
    {% if app.request.get('_route') == 'web_articles_index' %}
        <div class="content">{{ article.excerpt }}</div>
        <a href="{{ path('web_articles_show', {'slug': article.slug}) }}">Lire la suite</a>
    {% elseif app.request.get('_route') == 'web_articles_show' %}
        <div class="content">{{ article.content }}</div>
        <!--<a href="{{ path('web_articles_index') }}">Revenir à la liste</a>-->
    {% endif %}
</article>