{% extends 'base.html.twig' %}

{% block title %}
    Commentaires de l'article "{{ article.title }}"
    {{ parent() }}
{% endblock %}

{% block body %}
    <article class="post">
        {% include 'web/article/_breadcrumb.html.twig' %}
        <header class="title">
            <h1>Commentaires de l'article "{{ article.title }}"</h1>
        </header>
        <div class="comment-container row">
            <div class="col-sm-12">
                <h3><i class="pr-2 fa fa-comment"></i>{{ comments|length }} Comments</h3>
                <hr>
                {# form submit comments #}
                <div class="comment-form row">
                    <div class="col-sm-12">
                        <h3>Laissez un commentaire</h3>
                        <p><span>Votre adresse de messagerie ne sera pas publiée.</span></p>
                        <div class="comment-container">
                            {% include 'web/article/_form_comment.html.twig' %}
                        </div>
                    </div>
                </div>
                <hr>
                {# listing all comments #}
                {% for comment in comments %}
                    {% include 'web/article/_comment_template.html.twig' %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="comment-container">
                                No records found
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% include '_pagination.html.twig' %}
            </div>
        </div>
        <footer>
            <ul class="actions">
                <a href="{{ path('web_articles_show', {'slug': article.slug}) }}"><i class="pr-1 fas fa-angle-left"></i>Revenir à l'article</a>
            </ul>
        </footer>
    </article>
{% endblock %}

