{% extends 'base.html.twig' %}

{% block title %}
    Create new Article
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="post">
        <h1>Create new Article</h1>

        {{ include('web/article/_form_article.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('assets/js/typeahead.bundle.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
